<footer>
    <div class="container">
        sztopka <a href="http://pawilonek.2ap.pl/">Paweł Kamiński</a>
    </div>
    <div class="container">
        <span class="left"><i class="fa fa-envelope"></i> email@email.com</span>
        <span class="left"><i class="fa fa-phone"></i> +48 000 000</span>

        <span class="right"><a href="#"><i class="fa fa-fw fa-facebook"></i></a></span>
        <span class="right"><a href="#"><i class="fa fa-fw fa-twitter"></i></a></span>
        <span class="right"><a href="#"><i class="fa fa-fw fa-youtube-play"></i></a></span>
        <span class="right"><a href="#"><i class="fa fa-fw fa-instagram"></i></a></span>
    </div>
</footer>
