<div class="container">
    <div class="row">
        <div class="left col-sm-6">
            <i class="fa fa-copyright"></i>
            <a href="http://pawilonek.2ap.pl/">Paweł Kamiński</a>
            2016
        </div>
        <div class="right col-sm-6">
                <span class="icon">
                    <a href="#">
                        <i class="fa fa-fw fa-facebook-official"></i>
                        /abcd
                    </a>
                </span>
                <span class="icon">
                    <a href="#">
                        <i class="fa fa-fw fa-envelope"></i>
                        mail@domena.com
                    </a>
                </span>
        </div>
    </div>
</div>
