<header>
    <div class="container">
        <div class="row topMenu">
            <a data-ng-href="/#/">
                <div id="logo">
                    Art Gallery
                </div>
            </a>
            <nav data-ng-controller="authenticationsCtrl" data-ng-init="init()">
                <div class="btn-group" role="group" data-ng-hide="authToken">
                    <a data-ng-href="/#/" class="btn"><i class="fa fa-home"></i></a>
                    <a data-ng-href="/#/galleries" class="btn">galerie</a>
                    <a class="btn" data-ng-click="openModal()">zaloguj</a>
                </div>
                <div class="btn-group" role="group" data-ng-show="authToken">
                    <a data-ng-href="/#/admin" class="btn">admin</a>
                    <a class="btn" data-ng-click="logout()">wyloguj</a>
                </div>
            </nav>
        </div>

        <div class="row" id="homepageText">
            <h1><strong>KAMIŃSKI</strong> Paweł</h1>
            <h3>Najlepsze strony w mieście!</h3>
        </div>
    </div>

</header>
