<div ng-init="init()">
    <div class="col-md-7">
        <h2>{{gallery.name}}</h2>
        <div class="adminLayout">
            <div ng-repeat="layout in layouts">
                <div class="image">
                    <img ng-src="{{layout.File.url}}" alt="" />
                    <div class="imageSettings">
                        <button class="btn btn-danger" ng-click="deleteLayout(layout.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Dostępne obrazy</h2>
        <div>
            <div class="uploadedImages" ng-repeat="image in images" data-id="{{image.File.id}}" >
                <!-- {{image}} -->
                <img ng-src="{{image.File.url}}" />
            </div>
        </div>
    </div>
</div>