<style type="text/css">
    .drop-zone {
        border: dotted 2px lightgray;
        text-align: center;
    }

    .nv-file-over { border: dotted 2px red; }

    #images {
        display: none;
    }
</style>
<div ng-init="init()"></div>
<div class="col-md-6" ng-controller="galleriesCtrl">
    <form class="input-group" novalidate>
        <table ng-init="loadGalleries()">
            <thead>
                <tr>
                    <th>galerie</th>
                    <th>akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="g in galleries">
                    <td>
                        <a href="#/admin/galleries/{{g.Gallery.id}}">{{g.Gallery.name}}</a>
                    </td>
                    <td>
                        <a href="" title="usuń" ng-click="deleteGallery(g.Gallery.id)" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <input type="text" ng-model="newGallery" class="form-control" placeholder="nowa galeria">
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="addGallery()">dodaj</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>

<div class="col-md-6" uploader="uploader" filters="queueLimit, customFilter">
    <div>
        <h3>Dodaj zdjęcia</h3>
        <div class="well drop-zone" nv-file-drop="" nv-file-over="" uploader="uploader">
            <p>przeciągnij plik tutaj</p>
            <p>lub</p>
            <label for="images" class="btn btn-default" >wybierz plik</label>
            <input id="images" type="file" nv-file-select="" uploader="uploader" multiple  accept="image/*" />
        </div>
    </div>
    <div>

        <div ng-repeat="item in uploader.queue">
            <div ng-hide="item.src">
                <strong>{{ item.file.name}}</strong>
                <div class="row">
                    <div class="col-md-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>                        
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{item.progress}}%
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>