<!DOCTYPE html>
<html lang="pl" ng-app="galleryApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title> Title </title>

        <link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.11.2/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <!-- jQuery -->
        <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="lib/jquery-ui-1.11.2/jquery-ui.min.js"></script>
        <!-- AngularJS -->
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-file-upload.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <!-- moje -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/model/services.js"></script>
        <!-- <script type="text/javascript" src="js/controller/layoutsController.js"></script> -->
        <script type="text/javascript" src="js/controller/authenticationsController.js"></script>
        <script type="text/javascript" src="js/controller/galleriesController.js"></script>
        <script type="text/javascript" src="js/controller/adminController.js"></script>

    </head>
    <body>
        <nav ng-controller="authenticationsCtrl" ng-init="init()">
            <div class="btn-group" role="group">
                <a href="#/" class="btn btn-default" >
                    <span class="glyphicon glyphicon-home"></span>
                    home
                </a>
                <a href="#/" class="btn btn-default" >
                    galerie
                </a>
                <!--
                <button ng-hide="userHash" class="btn btn-default" >
                    <span class="glyphicon glyphicon-user"></span>
                    zaloguj
                </button>
                -->
                <a ng-show="userHash" class="btn btn-info" role="button" ng-href="#/admin">admin</a>
                <button ng-show="userHash" class="btn btn-primary" ng-click="logout()">wyloguj</button>
            </div>
            <div>
                <form class="form-inline" novalidate ng-hide="userHash" >
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="User.username" placeholder="Login" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="User.password" placeholder="Hasło" />
                    </div>
                    <input type="submit" class="btn btn-default" ng-click="login()" value="zaloguj" />
                </form>
            </div>
        </nav>

        <div ng-view> </div>

    </body>
</html>
