<div class="container">
    <div class="row">
        <div class="left col-sm-6">
            <i class="fa fa-copyright"></i>
            <a href="http://pawilonek.2ap.pl/">Paweł Kamiński</a>
            2016
        </div>
        <div class="right col-sm-6">
            <span class="icon">
                <a href="https://www.facebook.com/Jacek-HAZUKA-311739326517">
                    <i class="fa fa-fw fa-facebook-official"></i>
                </a>
            </span>
            <span class="icon">
                <a href="https://www.youtube.com/user/jhazuka/">
                    <i class="fa fa-fw fa-youtube-play"></i>
                </a>
            </span>
            <span class="icon">
                <a href="mailto:jh@jacekhazuka.com">
                    <i class="fa fa-fw fa-envelope"></i>
                    jh@jacekhazuka.com
                </a>
            </span>
        </div>
    </div>
</div>
